<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to my component Addition    </h1>
    <br>
    <span><h3>{{msg}}</h3></span>
    <h2>One way binding </h2>
    <input [value]="no1"> <br><br>
    <input [value]="no2"> <br><br>
    <input [value]="answer"> <br><br>
    <input type="button" value="Addition"(click)="add()"><br>
    <hr>

    <h2>Two way binding </h2>
    <input type="number" name="no1" [(ngModel)]="no1"> <br><br>
    <input type="number" name="no2" [(ngModel)]="no2"> <br><br>
    <input type="number" name="answer" [value]="answer"> <br><br>
    <input type="button" value="Addition" (click)="add()"><br>
    <hr>
</body>
</html>