<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Welcome To Angular </h1>
</body>
</html>

<p><img src="{{imagepath}}"  style="float:right;width:200px;height:200px;">
  The image will float to the right of the text.</p>

<nav>
  <a href="addition"> Addition </a>
  <a href="arrayex"> ArrayEx </a>
  <a href="routingex"> RoutingEx </a>

</nav>
<router-outlet></router-outlet>